<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
    <form name="input_form" method="post" enctype=multipart/form-data>
        <div class="form-group">
            <h1 class="page-header">Upload Image</h1>
            <div>
                <label for="imagesInput">
                    Choose Image
                    <input type="file"
                           name="imagesInput"
                           id="imagesInput"
                           accept=".jpg"
                           class="custom-file-control"
                           multiple
                    />
                </label>
            </div>
            <div>
                <button class="btn btn-primary btn-lg btn-block" type="submit">
                    Submit
                </button>
            </div>
        </div>
    </form>
</body>
</html>